<app-navset></app-navset>
<div class="set-status text-center" style="margin-top: 20px; padding-bottom: 20px">
    <a><i class="material-icons" style="margin-right: 5px">settings</i><b>กำหนดสถานะตัดเกรด</b></a>
  </div>
  <div class="backpage">
    <div class="container-fluid">
      <div class="card font shadow p" style="margin-bottom: 5%">
        <div class="card-header" style="background-color: #007FFF;color: #ffffff">
          <div class="row" style="width: 100%">
            <div class="col-6"><h3><b>รายการซากโค</b></h3></div>
            <div class="col">
              <div style="margin-left:50%">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">ค้นหา</span>
                  </div>
                  <input type="text" class="form-control search-input" aria-label="">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="material-icons">search</i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <table cellspacing="0" cellpadding="0" class="table table-bordered table-striped table-hover text-center">
              <colgroup span="2"></colgroup>
              <thead class="thead text-dark" style="background-color: #ffffff;">
                <tr>
                  <td rowspan="2">ลำดับ</td>
                  <td rowspan="2">รหัสโค</td>
                  <th colspan="2">บาร์โค้ด</th>
                  <td rowspan="2">วันที่เชือด</td>
                  <td rowspan="2">วันที่เข้าบ่ม</td>
                  <td rowspan="2" colspan="1">วันที่พร้อมตัดเกรด</td>
                  <th colspan="2">น้ำหนัก kg.</th>
                  <td rowspan="2">ห้องเย็น</td>
                  <td rowspan="2">เจ้าของโค</td>
                  <td rowspan="2">สถานะ/เกรด</td>
                  <td rowspan="2"></td>
                </tr>
                <tr>
                  <th scope="col">ซากซ้าย</th>
                  <th scope="col">ซากขวา</th>

                  <th scope="col">ซากซ้าย</th>
                  <th scope="col">ซากขวา</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let data of data;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{data.id}}</td>
                  <td>{{data.left}}</td>
                  <td>{{data.right}}</td>
                  <td>{{data.datekill}}</td>
                  <td>{{data.datedry}}</td>
                  <td><input type="date" class="form-control" name="dateready"  [(ngModel)]="dateready" (change)="testa(dateready)" ngModel></td>
                  <td>{{data.wleft}}</td>
                  <td>{{data.wright}}</td>
                  <td>{{data.roomdry}}</td>
                  <td>{{data.firstown}}&nbsp;&nbsp;{{data.lastown}}</td>
                  <td><div class="form-group">
                      <select class="form-control" name="status" [(ngModel)]="status" (change)="tests(status)">
                          <option>พร้อม</option>
                          <option>ไม่พร้อม</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <button type="button" (click)="addstatus(data.key)"  class="btn btn-success" style="background-color: limegreen"><b>บันทึก</b></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>

