<div class="AboutCattle text-center" style="margin-top: 70px; padding-top: 20px">
  <a><i class="material-icons" style="margin-right: 5px">history</i><b>ประวัติการตัดเกรด</b></a>
</div>
<div class="backpage">
  <div class="container-fluid">
    <div class="card font shadow p mb-5">
      <div class="card-header" style="background-color: #007FFF;color: #ffffff">
        <div class="row" style="width: 100%">
          <div class="col-6"><h3><b>รายการประวัติการตัดเกรด</b></h3></div>
          <div class="col">
            <div style="margin-left:50%">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">ค้นหา</span>
                </div>
                <input type="text" class="form-control search-input" aria-label="">
                <div class="input-group-append">
                  <button class="btn btn-light btn-sm text-light" style="background-color: limegreen; width: 100px"><i class="material-icons text-center">search</i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table cellspacing="0" cellpadding="0" class="table table-bordered table-striped table-hover text-center">
          <colgroup span="2"></colgroup>
          <thead class="thead text-dark" style="background-color: #ffffff;">
            <tr>
              <td rowspan="2">ลำดับ</td>
              <td rowspan="2">รหัสโค</td>
              <th colspan="2">บาร์โค้ด</th>
              <td rowspan="2">วันที่ตัดเกรด</td>
              <td rowspan="2">วันที่สรุปเกรด</td>
              <th colspan="2">น้ำหนัก kg.</th>
              <td rowspan="2">พนักงานตัดเกรด</td>
              <td rowspan="2">ผู้เชี่ยวชาญ</td>
              <td rowspan="2">เจ้าของโค</td>
              <td rowspan="2">รูปภาพ</td>
              <td rowspan="2">เกรด</td>
              <td rowspan="2">รายงาน</td>
            </tr>
            <tr>
              <th scope="col">ซากซ้าย</th>
              <th scope="col">ซากขวา</th>

              <th scope="col">ซากซ้าย</th>
              <th scope="col">ซากขวา</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of datasumed;let i = index">
              <td>{{i+1}}</td>
              <td>{{data.id}}</td>
              <td>{{data.left}}</td>
              <td>{{data.right}}</td>
              <td>{{data.datecuted | date: 'dd-MM-yyyy'}}</td>
              <td>{{data.date_sum | date: 'dd-MM-yyyy'}}</td>
              <td>{{data.wleft}}</td>
              <td>{{data.wright}}</td>
              <td>{{data.sys_grage_cut_fn}}&nbsp;&nbsp;{{data.sys_grage_cut_ln}}</td>
              <td>
                {{data.fn_ex1}}&nbsp;&nbsp;{{data.ln_ex1}}<br>
                {{data.fn_ex2}}&nbsp;&nbsp;{{data.ln_ex2}}<br>
                {{data.fn_ex3}}&nbsp;&nbsp;{{data.ln_ex3}}<br>
                {{data.fn_ex4}}&nbsp;&nbsp;{{data.ln_ex4}}<br>
                {{data.fn_ex5}}&nbsp;&nbsp;{{data.ln_ex5}}
              </td>
              <td>{{data.firstown}}&nbsp;&nbsp;{{data.lastown}}</td>
              <td></td>
              <td>{{data.grade_con}}</td>
              <td>
                <button routerLink="/report" type="button" class="btn button btn-success" style="background-color: limegreen"><b>ออกรายงาน</b></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- <tr>
              <th scope="row">1</th>
              <td>000001</td>
              <td>000001-01</td>
              <td>000001-01</td>
              <td>08-01-2018</td>
              <td>09-01-2018</td>
              <td>225</td>
              <td>225</td>
              <td>ธนภัทร กาจีนะ</td>
              <td>
                ธนภัทร กาจีนะ<br>
                อรัญญา เกษมสุข<br>
                ทศวรรษ อาวาส<br>
                จิตภาณุ จิตรยศักดิ์
              </td>
              <td>นายสดชื่น อุ่นใจ</td>
              <td class="btn-link">img001.jpg</td>
              <td style="color: #00cc00"><b>4.5</b></td>
              <td>
                <button routerLink="/report" type="button" class="btn button btn-success" style="background-color: limegreen"><b>ออกรายงาน</b></button>
              </td>
              <td>
                <button type="button" class="btn btn-danger"><i class="fa fa-close"></i></button>
              </td>
            </tr> -->
            <!-- <tr>
              <th scope="row">2</th>
              <td>000002</td>
              <td>000002-01</td>
              <td>000002-01</td>
              <td>10-01-2018</td>
              <td>10-01-2018</td>
              <td>230</td>
              <td>235</td>
              <td>อรัญญา เกษมสุข</td>
              <td>
                ธนภัทร กาจีนะ<br>
                อรัญญา เกษมสุข<br>
                ทศวรรษ อาวาส<br>
                จิตภาณุ จิตรยศักดิ์
              </td>
              <td>นางชื่น อุ่นติ้บ</td>
              <td class="btn-link">img002.jpg</td>
              <td style="color: #00cc00"><b>5</b></td>
              <td>
                <button routerLink="/report" type="button" class="btn button btn-success" style="background-color: limegreen"><b>ออกรายงาน</b></button>
              </td>
              <td>
                <button type="button" class="btn btn-danger"><i class="fa fa-close"></i></button>
              </td>
            </tr> -->
